Source: grml-hwinfo
Section: admin
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.9.8
Homepage: http://git.grml.org/?p=grml-hwinfo.git
Vcs-git: git://git.grml.org/grml-hwinfo.git
Vcs-Browser: http://git.grml.org/?p=grml-hwinfo.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-hwinfo
Architecture: all
Depends: sysfsutils,
         ${misc:Depends}
Recommends: acpi,
            dconf,
            dmidecode,
            dmsetup,
            edac-utils,
            hdparm,
            hwinfo,
            i2c-tools,
            iproute2 | iproute,
            laptop-detect,
            lsscsi,
            lvm2,
            mcelog,
            mdadm,
            net-tools,
            numactl,
            open-iscsi,
            parted,
            powermgmt-base,
            procinfo,
            sg3-utils,
            smartmontools,
            usbutils,
            x11-utils,
            x11-xserver-utils,
            x86info,
            xresprobe
Description: collect hardware information
 This tool collects information of the hardware this tool is
 being executed on. It can be executed as normal user to collect
 some basic information or with root permissions to collect as
 much information as possible. A file named
 grml-hwinfo-$TIMESTAMP.tar.bz2 storing all collected information
 will be created in the current working directory.
